$main:#5E7461;
$black: #000;
$white: #fff;
$gray: #8D988E;
$gray-1: #CECECE;
$gray-2: #F7FBF7;
$dark-green: #002806;
$green: #357C3F;
$green-1: #596A5B;
$linear-from-top: linear-gradient(180deg, #DCF5E0 0%, rgba(244, 255, 246, 0) 100%);
$linear-from-bottom: linear-gradient(180deg, rgba(245, 255, 247, 0) 0%, #DCF4DF 100%);;

// fonts
$yoxall: 'Yoxall',
sans-serif;