.features {
    padding-bottom: 140px;

    .auto__container {
        padding: 0 40px;
    }

    &__inner {
        margin-inline: auto;
        max-width: 1360px;
        display: flex;
        justify-content: space-between;
        @include transition;

        &-col {
            p {
                max-height: 175px;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &-title {
                margin-bottom: 55px;
                font-family: $yoxall;
                font-weight: 700;
                font-size: 24px;
                line-height: 28px;
                color: $dark-green;
            }

            &:first-child {
                width: calc(32% - 40px);
                box-sizing: border-box;
                padding: 0 40px;
                background: $white;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                border-radius: 10px;
                box-shadow: 10px 20px 60px rgba(0, 81, 11, 0.15);
                cursor: pointer;
            }

            &:last-child {
                margin: -40px 0;
                width: calc(68% - 40px);
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
            }
        }
    }

    &__item {
        margin: 40px 0;
        width: calc(50% - 40px);
        box-sizing: border-box;
        padding: 0 40px;
        background: $white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 180px;
        outline: 1px solid #B9D2BC;
        border-radius: 10px;

        &-title {
            font-family: $yoxall;
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            color: $dark-green;
        }
    }
}

// 1340px
@mixin features-xxlg-xxxlg {
    .features {
        &__inner {
            &-col {
                &-title {
                    margin-bottom: 30px;
                    font-size: 20px;
                    line-height: 24px;
                }

                &:first-child {
                    width: calc(32% - 25px);
                    padding: 0 30px;
                }

                &:last-child {
                    width: calc(68% - 25px);
                    margin: -25px 0;
                }
            }
        }

        &__item {
            margin: 25px 0;
            width: calc(50% - 25px);
            height: 140px;

            &-title {
                font-size: 20px;
                line-height: 24px;
            }
        }
    }
}

// 1180px
@mixin features-xlg-xxlg {
    .features {
        &__inner {
            &-col {
                &:first-child {
                    width: calc(32% - 15px);
                }

                &:last-child {
                    width: calc(68% - 15px);
                    margin: -15px 0;
                }
            }
        }

        &__item {
            margin: 15px 0;
            width: calc(50% - 15px);
            height: 120px;
        }
    }
}

// 1024px
@mixin features-lg-xlg {
    .features {
        padding-bottom: 100px;

        &__inner {

            &-col {
                &:first-child {
                    width: calc(45% - 15px);
                }

                &:last-child {
                    width: calc(55% - 15px);
                    margin: 0;
                    flex-direction: column;
                    justify-content: unset;
                }
            }
        }

        &__item {
            margin: 0;
            margin-bottom: 15px;
            width: 100%;
            height: 100px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

// 700px
@mixin features-sm-md {
    .features {
        padding-bottom: 80px;

        &__inner {
            flex-direction: column;
            justify-content: unset;

            &-col {
                &-title {
                    font-size: 20px;
                    line-height: 28px;
                }

                &:first-child {
                    width: 100%;
                    margin-bottom: 40px;
                    padding: 75px 45px;
                }

                &:last-child {
                    width: 100%;
                }
            }
        }

        &__item {
            padding: 45px;
            margin-bottom: 40px;
            height: unset;

            &-title {
                font-size: 20px;
                line-height: 28px;
            }

        }
    }
}

// 540px
@mixin features-xsm-sm {
    .features {
        padding-bottom: 60px;

        &__inner {
            &-col {

                &-title {
                    font-size: 16px;
                    line-height: 28px;
                }

                p {
                    max-height: 90px;
                }

                &:first-child {
                    padding: 54px 45px;
                }
            }
        }

        &__item {
            padding: 24px 45px;

            &-title {
                font-size: 16px;
                line-height: 28px;
            }
        }
    }
}